mixin showroom-section
    section.showroom-section.u-flex-col.u-aic.u-jcsb(data-header-mode="dark")
        .showroom-section__background(style="background-image: url(./assets/img/showroom-section/background-1.jpg)" data-scroll data-scroll-speed="-1")
        +logo("light")
        .showroom-section__content.u-flex-col
            .t-h2 Флагманский магазин
            .t-ttu Большая Никитская, 14
        a(href="#").showroom-section__link.link__underline Наши шоурумы