header.header.is-active.is-fixed.js-header
  .container.header__inner
    .header__left
    .header__center
      +logo("dark")
    .header__right
      .header__contacts
        .currency(data-modal-open="lang-modal")
          .currency__locale RU