mixin subcategories()
  .subcategories&attributes(attributes)
    .subcategories__inner
      a(href="#").subcategories__link
        .subcategories__img
          include ../../assets/img/catalog/category-1.svg
        .subcategories__text Кардиооперации
      a(href="#").subcategories__link
        .subcategories__img
          include ../../assets/img/catalog/category-2.svg
        .subcategories__text Маммопластика, мастопексия
      a(href="#").subcategories__link
        .subcategories__img
          include ../../assets/img/catalog/category-3.svg
        .subcategories__text Липосакция, липофиллинг
      a(href="#").subcategories__link
        .subcategories__img
          include ../../assets/img/catalog/category-4.svg
        .subcategories__text Абдоминопластика
      a(href="#").subcategories__link
        .subcategories__img
          include ../../assets/img/catalog/category-3.svg
        .subcategories__text Липосакция, липофиллинг
      a(href="#").subcategories__link
        .subcategories__img
          include ../../assets/img/catalog/category-5.svg
        .subcategories__text Фейс-, рино-, отопластика
      a(href="#").subcategories__link
        .subcategories__img
          include ../../assets/img/catalog/category-6.svg
        .subcategories__text Уменьшение талии
