mixin card-colors(data)
    ul.card-colors
        li.card-colors__item.js-card-color(data-src="assets/img/card/png/card-3.png" data-srcset="assets/img/card/webp/card-3.webp" data-type="item")
            .card-colors__item-point(style="background-color: #6789A4")
            .card-colors__item-popup Синий
        li.card-colors__item.js-card-color(data-src="assets/img/card/png/card-4.png" data-srcset="assets/img/card/webp/card-3-1.webp" data-type="full")
            .card-colors__item-point(style="background-color: #C53E34")
            .card-colors__item-popup Красный
        li.card-colors__item
            .card-colors__item-point(style="background-color: #B89167")
            .card-colors__item-popup Коричневый
        li.card-colors__item
            .card-colors__item-point(style="background-color: #EECE8E")
            .card-colors__item-popup Желтый
        li.card-colors__item
            .card-colors__item-point(style="background-color: #000000")
            .card-colors__item-popup Черный
        li.card-colors__item
            .card-colors__item-point(style="background-color: #E0E0E0")
            .card-colors__item-popup Молочный
        li.card-colors__item
            .card-colors__item-point(style="background-color: #D79E90")
            .card-colors__item-popup Розовый
        li.card-colors__item
            .card-colors__item-point(style="background-color: #6789A4")
            .card-colors__item-popup Сиреневый
            