mixin logo(theme)
    a(href="/" class=`is-${theme}`).logo&attributes(attributes)
        .logo__inner
            .logo__part
                img(src="assets/img/logo.svg", alt="Native")
                //- +svg("logo")
            .logo__part
                img(src="assets/img/logo.svg", alt="Native")
                //- +svg("logo")
