mixin catalog-section(data)
    section.catalog-section&attributes(attributes)
        .catalog-section__head(data-scroll)
            if data.type == "catalog"
                .catalog-section__head-row.catalog-section__head-row--single
                    button.catalog__categories-btn(data-modal-open="categories")
                        +native-h1(data.title)
                +subcategories.catalog-section__subcategories
                .catalog-section__head-row.catalog-section__head-row--double
                    .catalog__sort
                        +select({
                            list: [
                                { text: "По умолчанию", value: "1" },
                                { text: "По возрастанию цены", value: "2" },
                                { text: "По уменьшению цены", value: "3" },
                                { text: "По алфавиту", value: "4" },
                                { text: "По популярности", value: "5" },
                            ],
                            placeholder: "Сортировать"
                        }).select--overlay(data-select-overlay)
                    .catalog-section__btn.js-filters-btn
                        button(data-modal-open="filters") Фильтры
                        .filter-status.js-filter-reset
                            span.filter-status__counter 3
                            .filter-status__close
            else if data.type == "catalog-root"
                .catalog-section__head-row.catalog-section__head-row--single
                    button.catalog__categories-btn(data-modal-open="categories")
                        +native-h1(data.title)
                +subcategories.catalog-section__subcategories
            else if data.type == "collections"
                .catalog-section__head-row.catalog-section__head-row--single
                    button.catalog__categories-btn(data-modal-open="collections")
                        h1 Коллекции
            else
                .catalog-section__head-row.catalog-section__head--search
                    .catalog-section__count 96 товаров
                    +search-form({ empty: false }).media-max--tab
                    button.catalog-section__btn(data-modal-open="filters") Фильтры

        if data.type == "catalog-root"
            ul.catalog-section__categories-cards.container.js-toggle-free
                li.catalog-section__item
                    +card-category({
                        title: "Бюстгальтеры, топы",
                        image: {
                            src: "assets/img/catalog/subcategory-photo-1.jpg",
                            type: "item"
                        },
                    })
                li.catalog-section__item
                    +card-category({
                        title: "Next Step",
                        image: {
                            src: "assets/img/catalog/subcategory-photo-2.jpg",
                            type: "item"
                        },
                    })
                li.catalog-section__item
                    +card-category({
                        title: "Корректирующее белье",
                        image: {
                            src: "assets/img/catalog/subcategory-photo-3.jpg",
                            type: "item"
                        },
                    })
                li.catalog-section__item
                    +card-category({
                        title: "Боди, комбинезоны, грации",
                        image: {
                            src: "assets/img/catalog/subcategory-photo-4.jpg",
                            type: "item"
                        },
                    })
                li.catalog-section__item
                    +card-category({
                        title: "Штаны, гольфы, наколенники",
                        image: {
                            src: "assets/img/catalog/subcategory-photo-5.jpg",
                            type: "item"
                        },
                    })
                li.catalog-section__item
                    +card-category({
                        title: "Маски, бандажи для лица",
                        image: {
                            src: "assets/img/catalog/subcategory-photo-6.jpg",
                            type: "item"
                        },
                    })
                li.catalog-section__item
                    +card-category({
                        title: "Бандажи",
                        image: {
                            src: "assets/img/catalog/subcategory-photo-7.jpg",
                            type: "item"
                        },
                    })
                li.catalog-section__item
                    +card-category({
                        title: "Корректирующее белье",
                        image: {
                            src: "assets/img/catalog/subcategory-photo-3.jpg",
                            type: "item"
                        },
                    })
                li.catalog-section__item
                    +card-category({
                        title: "Мужчинам",
                        image: {
                            src: "assets/img/catalog/subcategory-photo-8.jpg",
                            type: "item"
                        },
                    })
                li.catalog-section__item
                    +card-category({
                        title: "Рубашки, жилеты, рукава",
                        image: {
                            src: "assets/img/catalog/subcategory-photo-9.jpg",
                            type: "item"
                        },
                    })

        else if data.type == "collections"
            ul.catalog-section__list(data-scroll)
                li.catalog-section__item
                    +collections-item({
                        title: "Dragon Woman",
                        image: "assets/img/card/full/card-1.jpg"
                    })
                li.catalog-section__item
                    +collections-item({
                        title: "Duncan",
                        image: "assets/img/card/full/card-2.jpg"
                    })
                li.catalog-section__item
                    +collections-item({
                        title: "Next Step",
                        image: "assets/img/card/full/card-3.jpg"
                    })
                li.catalog-section__item
                    +collections-item({
                        title: "Dragon Woman",
                        image: "assets/img/card/full/card-4.jpg"
                    })

        else
            ul.catalog-section__list.js-toggle-free(data-scroll)
                li.catalog-section__item
                    +card({
                        title: "Бюстгальтер Viki",
                        price: "5 600",
                        oldPrice: "15 500",
                        type: "favourites",
                        image: {
                            src: "assets/img/card/png/card-1.png",
                            type: "item"
                        },
                        colorCircles: true,
                    })
                li.catalog-section__item
                    +card({
                        title: "Delica",
                        price: "9 500",
                        oldPrice: "15 500",
                        type: "favourites",
                        image: {
                            src: "assets/img/card/full/card-1.jpg",
                            type: "full"
                        },
                        colorCircles: true,
                    })
                li.catalog-section__item
                    +card({
                        title: "Delica",
                        price: "9 500",
                        oldPrice: "15 500",
                        type: "favourites",
                        image: {
                            src: "assets/img/card/full/card-1.jpg",
                            type: "full"
                        },
                        colorCircles: true,
                        label: {
                            type: 'not-avialable',
                            text: 'Нет в наличии',
                        },
                    })
                li.catalog-section__item
                    +card({
                        title: "Бюстгальтер Бралетт Monroe",
                        price: "6 666",
                        oldPrice: "15 500",
                        type: "favourites",
                        image: {
                            src: "assets/img/card/png/card-3.png",
                            type: "item"
                        },
                        colorCircles: true
                    })
                li.catalog-section__item
                    +card({
                        title: "Бюстгальтер Бандо Jadi Eyes",
                        price: "5 800",
                        oldPrice: "15 500",
                        type: "favourites",
                        image: {
                            src: "assets/img/no_photo.svg",
                            type: "item"
                        },
                        colorCircles: true
                    })
                li.catalog-section__item
                    +card({
                        title: "Бюстгальтер Viki",
                        price: "5 600",
                        oldPrice: "15 500",
                        type: "favourites",
                        image: {
                            src: "assets/img/card/full/card-2.jpg",
                            type: "full"
                        },
                        colorCircles: true
                    })
                li.catalog-section__item
                    +card({
                        title: "Delica",
                        price: "9 500",
                        oldPrice: "15 500",
                        type: "favourites",
                        image: {
                            src: "assets/img/card/png/card-1.png",
                            type: "item"
                        },
                        colorCircles: true
                    })
                li.catalog-section__item
                    +card({
                        title: "Бюстгальтер Бралетт Monroe",
                        price: "6 666",
                        oldPrice: "15 500",
                        type: "catalog",
                        image: {
                            src: "assets/img/card/png/card-3.png",
                            type: "item"
                        },
                        colorCircles: true
                    })
                li.catalog-section__item
                    +card({
                        title: "Бюстгальтер Бандо Jadi Eyes",
                        price: "5 800",
                        oldPrice: "15 500",
                        type: "catalog",
                        image: {
                            src: "assets/img/card/png/card-4.png",
                            type: "item"
                        },
                        colorCircles: true
                    })
                li.catalog-section__item
                    +card({
                        title: "Бюстгальтер Viki",
                        price: "5 600",
                        oldPrice: "15 500",
                        type: "catalog",
                        image: {
                            src: "assets/img/card/png/card-2.png",
                            type: "item"
                        },
                        colorCircles: true
                    })
                li.catalog-section__item
                    +card({
                        title: "Delica",
                        price: "9 500",
                        oldPrice: "15 500",
                        type: "catalog",
                        image: {
                            src: "assets/img/card/png/card-1.png",
                            type: "item"
                        },
                        colorCircles: true
                    })
                li.catalog-section__item
                    +card({
                        title: "Бюстгальтер Бралетт Monroe",
                        price: "6 666",
                        oldPrice: "15 500",
                        type: "catalog",
                        image: {
                            src: "assets/img/card/png/card-3.png",
                            type: "item"
                        },
                        colorCircles: true
                    })
                li.catalog-section__item
                    +card({
                        title: "Бюстгальтер Бандо Jadi Eyes",
                        price: "5 800",
                        oldPrice: "15 500",
                        type: "catalog",
                        image: {
                            src: "assets/img/card/full/card-3.jpg",
                            type: "full"
                        },
                        colorCircles: true
                    })
                li.catalog-section__item
                    +card({
                        title: "Бюстгальтер Viki",
                        price: "5 600",
                        oldPrice: "15 500",
                        type: "catalog",
                        image: {
                            src: "assets/img/card/png/card-3.png",
                            type: "item"
                        },
                        colorCircles: true
                    })
                li.catalog-section__item
                    +card({
                        title: "Delica",
                        price: "9 500",
                        oldPrice: "15 500",
                        type: "catalog",
                        image: {
                            src: "assets/img/card/png/card-2.png",
                            type: "item"
                        },
                        colorCircles: true
                    })
                li.catalog-section__item
                    +card({
                        title: "Бюстгальтер Бралетт Monroe",
                        price: "6 666",
                        oldPrice: "15 500",
                        type: "catalog",
                        image: {
                            src: "assets/img/card/full/card-4.jpg",
                            type: "full"
                        },
                        colorCircles: true
                    })
                li.catalog-section__item
                    +card({
                        title: "Бюстгальтер Бандо Jadi Eyes",
                        price: "5 800",
                        oldPrice: "15 500",
                        type: "catalog",
                        image: {
                            src: "assets/img/card/png/card-1.png",
                            type: "item"
                        },
                        colorCircles: true
                    })
            .catalog-section__footer
                a(href="#").more Показать больше
