+modal('categories', 'center').modal--beige
    .categories-modal
        ul.categories-modal__list 
            li.categories-modal__item.is-active
                a(href="#")
                    span Все товары
                    .count 34
            li.categories-modal__item
                a(href="#")
                    span Бюстгальтеры
            li.categories-modal__item
                a(href="#")
                    span Пояса и корсеты
                    .count 12
            li.categories-modal__item
                a(href="#")
                    span Боди
            li.categories-modal__item
                a(href="#")
                    span Платья
            li.categories-modal__item
                a(href="#")
                    span Трусы
            li.categories-modal__item
                a(href="#")
                    span Юбки
            li.categories-modal__item
                a(href="#")
                    span Шорты
            li.categories-modal__item
                a(href="#")
                    span Футболки
            li.categories-modal__item
                a(href="#")
                    span Купальники
            li.categories-modal__item
                a(href="#")
                    span Аксессуары
            li.categories-modal__item
                a(href="#")
                    span Sale