+modal('collections', 'center').modal--beige
    .categories-modal
        ul.categories-modal__list 
            li.categories-modal__item.is-active
                a(href="#")
                    span Пункт 1
            li.categories-modal__item
                a(href="#")
                    span Пункт 2
            li.categories-modal__item
                a(href="#")
                    span Пункт 3
            li.categories-modal__item
                a(href="#")
                    span Пункт 4
            li.categories-modal__item
                a(href="#")
                    span Пункт 5
