mixin circles-section
    section.circles-section.u-flex-col
        .circles-section__head.u-flex-col
            .t-h4.t-tac Белье без предрассудков
            p Незаметное, удобное и комфортное белье Le Journal Intime показывает женское тело таким, как оно есть – свободным и сексуальным
        .circles-section__inner.swiper-container.js-slider-mobile(data-preview="1")
            ul.circles-section__list.swiper-wrapper(data-scroll)
                li.circles-section__item.swiper-slide
                    a(href="#")
                        span Практически невесомые. Вес одного бюстгальтера не превышает 45 г.
                        img(src="assets/img/circles-section/circles-1.png" data-scroll data-scroll-speed="-0.4")
                li.circles-section__item.swiper-slide
                    a(href="#")
                        span Практически невесомые. Вес одного бюстгальтера не превышает 45 г.
                        img(src="assets/img/circles-section/circles-2.png" data-scroll data-scroll-speed="-0.4")
                li.circles-section__item.swiper-slide
                    a(href="#")    
                        span Практически невесомые. Вес одного бюстгальтера не превышает 45 г.
                        img(src="assets/img/circles-section/circles-3.png" data-scroll data-scroll-speed="-0.4")
                li.circles-section__item.swiper-slide
                    a(href="#")    
                        span Практически невесомые. Вес одного бюстгальтера не превышает 45 г.
                        img(src="assets/img/circles-section/circles-4.png" data-scroll data-scroll-speed="-0.4")
                li.circles-section__item.swiper-slide
                    a(href="#")    
                        span Практически невесомые. Вес одного бюстгальтера не превышает 45 г.
                        img(src="assets/img/circles-section/circles-5.png" data-scroll data-scroll-speed="-0.4")
                li.circles-section__item.swiper-slide
                    a(href="#")    
                        span Практически невесомые. Вес одного бюстгальтера не превышает 45 г.
                        img(src="assets/img/circles-section/circles-6.png" data-scroll data-scroll-speed="-0.4")
            .progress.swiper-pagination.media-min--tab