mixin showrooms
    .showrooms(data-scroll).js-booster-mobile-x
        .showrooms__inner.js-booster__inner
            ul.showrooms__list
                +showrooms-item({
                    title: "Шоурум на Авангардной",
                    image: "assets/img/showrooms/showroom-1.jpg",
                    type: "page"
                })

                +showrooms-item({
                    title: "Магазин на Большой Никитской",
                    image: "assets/img/showrooms/showroom-3.jpg",
                    type: "page"
                })

                +showrooms-item({
                    title: "Шоурум на Восстания",
                    image: "assets/img/showrooms/showroom-2.jpg",
                    type: "page"
                })
                +showrooms-item({
                    title: "Шоурум на Авангардной",
                    image: "assets/img/showrooms/showroom-4.jpg",
                    type: "page"
                })

                +showrooms-item({
                    title: "Точки продаж",
                    image: "assets/img/showrooms/showroom-1.jpg",
                    type: "page"
                })
                +showrooms-item({
                    title: "Шоурум на Авангардной",
                    image: "assets/img/showrooms/showroom-1.jpg",
                    type: "page"
                })

                +showrooms-item({
                    title: "Магазин на Большой Никитской",
                    image: "assets/img/showrooms/showroom-3.jpg",
                    type: "page"
                })
                
                +showrooms-item({
                    title: "Магазины партнеров",
                    image: "assets/img/showrooms/showroom-2.jpg",
                    pointsPayment: true, 
                    type: "page"
                })
