mixin unique-phone(data)
  .unique-phone.js-unique-phone(data-selected-country-code="RU")&attributes(attributes)
    .unique-phone__select.js-unique-phone-select
      select
    input.unique-phone__input.js-unique-phone-input(type="tel")