extends ../templates/template-scroll.pug

block content
    .container.section__wrapper
        +breadcrumbs("Главная", "О нас").breadcrumbs--full
    +native-h1("О NATIVE")
    .about.container
        .article__content.article.article--margin
            img.js-observe(src="assets/img/article/article-1.jpg" alt="" data-scroll data-scroll-speed='1')
            p.js-observe(data-scroll data-scroll-speed='0') 22 декабря 2015г. ФОНД СОДЕЙСТВИЯ РАЗВИТИЮ  ПРЕДПРИНИМАТЕЛЬСТВУ наградил бренд компрессионного  белья «NATIVE» медалью «НАЦИОНАЛЬНЫЙ ЗНАК КАЧЕСТВА». Награждение произведено в категории « Выбор  России. Надежный Поставщик ». Мы будем и впредь прикладывать все усилия, чтобы оказывать нашим клиентам сервис  самого высокого класса!
            
        .about__section.about__section-container.article
            .about__section-content.js-observe
                h2 Производство NATIVE
                ul
                    li расположено в Москве, Россия
                    li CE сертификация
                    li высокопрофессиональный, опытный персонал
                    li современное оборудование
                    li мощности производства готовы удовлетворить ваши заказы
            img.js-observe(src="assets/img/native/about-1.jpg" alt="")

        .about__banner-top.article
            img.js-observe(src="assets/img/native/about-2.jpg")
            .about__banner-top-content 
                h2.js-observe Преимущества NATIVE
                ul.js-observe
                    li инвестируем в качество и безопасность;
                    li индивидуальный подход в приоритете;
                    li 2-3 новых модели в год;
                    li используем новейшие высокотехнологичные материалы, разработки ключевых отраслей промышленности в Европе;
                    li запускаем новые направления (бельё после кардиохирургии, после родов, корректирующее, спортивное);
                    li разрабатываем модели в тесном сотрудничестве с докторами;

        .about__section.about__section-container.article
            img.js-observe(src="assets/img/native/about-3.jpg" alt="")
            .about__section-content.js-observe
                h2 Наша миссия - улучшить качество жизни людей во время послеоперационного периода
                ul 
                    li гарантия функциональности белья во время всего ношения белья;
                    li сокращение периода восстановления;
                    li комфортность в послеоперационном периоде;
                    li возможность вести привычный образ жизни;
                    li возможность вести привычный образ жизни;
                p Мы постоянно работаем над тем, чтобы Вам с нами было удобно, надежно и легко!

        .about__section.about__section-container.article
            .about__section-content.js-observe
                p Компрессионное белье, утягивающие боди и грации, бандажи – предметы не первой необходимости, но очень нужные атрибуты для здоровья и красоты.
                p Отдельная линия компрессионного белья для мужчин предлагается  в особых случаях  хирургической коррекции фигуры сильной половины населения и пластической хирургии передней брюшной стенки. Компрессионное мужское бельё отличается как системой размеров, так и лекалами, предусматривающими все нюансы мужской анатомии и физиологии. 
                p Товары медицинского назначения Native сертифицированы. В Интернет-магазине Нэйтив опытные консультанты подскажут, какую модель и какого размера выбрать для того или иного случая.
            img.js-observe(src="assets/img/native/about-4.jpg" alt="")

        .about__section.about__section-container.article
            img.js-observe(src="assets/img/native/about-5.jpg" alt="")
            .about__section-content.js-observe
                p Женское компрессионное бельё представлено боди, высокими штанами, грациями, жилетами, компрессионными бюстгальтерами и топами.
                p Ношение утягивающего компрессионного белья удовлетворяет потребностям не только пластической хирургии – поддержка после липосакции, абдоминопластики, увеличении груди… -  но и оказывает антицеллюлитный эффект, усиливает лимфодренаж, и считается прекрасным корректирующим бельём.
                p Ёще одно неоценимое действие утягивающего белья Native – поддерживать в тонусе кожу человека, стремящегося похудеть в супер быстрые сроки, например, через лечебное голодание. 
                p При быстрой потере массы тела кожа может провиснуть,  но профессиональное утягивающее бельё сильной компрессии Нэйтив поддерживает кожу, оказывая тонизирующий эффект, тем самым помогая быстрее сокращаться вслед за худеющим организмом.

        .about__section.about__section-container.article
            .about__section-content.js-observe
                p Отличительной особенностью послеоперационного  компрессионного белья Native является создание стабильного равномерного давление, которое воздействует на кожу с силой 25-35 мм рт ст. Бельё Нэйтив (Native) считается  бельём сильной компрессии и высокого комфорта, что по праву делает его лучшим утягивающим бельём.
                p А спортивные бюстгальтеры Native по своим поддерживающим и фиксирующим свойствам превосходят многие известные  спортивные бренды.
            img.js-observe(src="assets/img/native/about-6.jpg" alt="")
        
        .about__banner-bottom.article
            .about__banner-bottom-content 
                h2.js-observe Всегда рады Вам и ждем 24ч в сутки в нашем Интернет–магазине! 
                p.js-observe Купить компрессионное послеоперационное бельё Нэйтив Вы можете в нашем Интернет-магазине.
            img.js-observe(src="assets/img/native/about-7.jpg" alt="")