extends ../templates/template-scroll.pug

block content
    .container.section__wrapper
        +breadcrumbs("Главная", "Новости").breadcrumbs--full
    .container.article__wrapper
        .article__head 
            +native-h1("Часто задаваемые попросы при выборе и ношении компрессионного белья: Часть 4")
            .article__date 22.10.2022
        .article__content.article.article--margin
            img(src="assets/img/native/main-article-1.jpg" alt="")
            p У многих женщин, которые хотят увеличить грудь, еще на стадии консультирования с хирургом возникает много вопросов. Многие из них касаются компрессионного белья, и на самые важные из них мы <a href="#">постараемся</a> дать исчерпывающие ответы.
            h3 Корректирующий лифчик надевается сразу после операции или спустя какое-то время?
            p Если отвечать кратко, то сразу. Он надевается сразу после проведения операции и доставки пациентки в палату для отдыха и реабилитации. Поэтому врачи рекомендуют сразу запомнить ощущения, которые женщина испытывает сразу после отхода от наркоза, чтобы потом надевать белье правильно самостоятельно.
            h3 Как долго нужно спать в компрессионном белье?
            p После окончания операции и начала восстановления женщина проводит в компрессионном бюстгальтере все время, в том числе во время сна. Это может длиться по-разному в зависимости от скорости реабилитации, но в среднем спать в бюстгальтере придется как минимум 30 дней.
            h3 Когда можно полностью снять бюстгальтер после маммопластики?
            p Опять же, все зависит от индивидуальных особенностей протекания восстановления и сложности хирургического вмешательства. У кого-то это занимает не более 1.5 месяцев, а у кого-то может растянуться на полгода. Точные сроки определяются только самой пациенткой и врачом после регулярных обследований.
            h3 Как долго нужно носить фиксирующую ленту после операции?
            p Не менее 4 недель. Если после этого грудь находится в слишком подвижном положении, то период ее использования продлевается на больший срок, а сама лента может быть заменена на новую.
            ul
                li Не менее 4 недель. Если после этого грудь находится в слишком подвижном положении, то период ее использования продлевается на больший срок, а сама лента может быть заменена на новую.
                li Не менее 4 недель. Если после этого грудь находится в слишком подвижном положении, то период ее использования продлевается на больший срок, а сама лента может быть заменена на новую.
                li Нет. Напротив, после уменьшения отечности она немного уменьшится в размере. Это нормальный процесс, который свидетельствует о выздоровлении и восстановлении естественных очертаний.
                