extends ../templates/template-plug.pug

block content
  +plug({
    title: `Perfect match`,
    description: `New site will be here soon...`,
    image: '/assets/img/eng-plug.jpg',
    link: 'Contact us'
  })
  +footer-form
    