extends ../templates/template.pug
block content
  .container.u-flex-col.u-ais(style="min-height: calc(100vh - 160px); display: flex; flex-direction: column; grid-gap: 20px; padding-top: 80px; padding-bottom: 80px;")
    a.t-h3(href="./main.html") Главная
    a.t-h3(href="./catalog-root.html") Каталог - разводящая
    a.t-h3(href="./catalog.html") Каталог
    a.t-h3(href="./product.html") Товар
    a.t-h3(href="./news.html") Новости
    a.t-h3(href="./article.html") Статья
    a.t-h3(href="./about.html") О нас
    br
    br
    br
    a.t-h3(href="./collections.html") Коллекции
    a.t-h3(href="./catalog-collection.html") Страница коллекции
    a.t-h3(href="./product-no-avialable.html") Товар - Нет в наличии
    a.t-h3(href="./diary.html") Дневник
    a.t-h3(href="./shops.html") Магазины
    a.t-h3(href="./contacts.html") Контакты
    a.t-h3(href="./shop-contacts.html") Места продаж
    a.t-h3(href="./profile-orders.html") Личный кабинет
    a.t-h3(href="./support-delivery.html") Поддержка
    a.t-h3(href="./search.html") Поиск
    a.t-h3(href="./search-empty.html") Пустой поиск
    a.t-h3(href="./404.html") 404
    a.t-h3(href="./registration.html") Регистрация
    a.t-h3(href="./profile-cancel.html") Отмена заказа
    a.t-h3(href="./page-with-preloader.html") Страница с прелоадером
    a.t-h3(href="./eng-plug.html") Английская заглушка
