extends ../templates/template.pug
block content
  .container.support.js-toggle
    +support-header({ title: 'Условия продажи товаров и политика конфиденциальности' })
    .support__main
      +support-nav([
        { title: "Оплата", href: "/support-payment.html" },
        { title: "Доставка", href: "/support-delivery.html" },
        { title: "Гарантия и возврат", href: "/support-warrant.html" },
        { title: "Таблица размеров", href: "/support-size-chart.html" },
        { title: "Пользовательское соглашение", href: "/support-privacy-policy.html", active: true },
        {title: "Оптовые заказы", href: "/support-personal.html"},
        {title: "Белье на заказ", href: "/support-personal.html"}
      ])
      .support__content.support__modify-area
        h6 Условия продажи товаров
        p Настоящие Условия продажи товаров (далее — Условия) определяют порядок взаимодействия сторон при покупке товаров и/или услуг, представленных на Интернет-ресурсе www.lejournalintime.com.
        hr
        h6 Стороны и основные понятия
        .support__list-a
          h6 Покупатель
          p Физическое лицо, осуществившее вход на Сайт и в установленном порядке оформившее Заказ на товары, представленные на Сайте, а также физическое лицо, идентифицированное Продавцом, как осуществляющее операции по оплате и/или по возврату товара.
          h6 Сайт
          p Интернет-ресурс, расположенный в сети Интернет по адресу: https://lejournalintime.com, используемый Продавцом на законном основании для предпринимательской деятельности.
          h6 Товар
          p Продукт деятельности, не изъятый и не ограниченный в гражданском обороте, предназначенный для продажи Покупателю для нужд, не связанных с осуществлением предпринимательской деятельности.
          h6 Акция
          p Мероприятие, проводимое на Сайте, предложение Продавца о продаже определенного товара в определенном ассортименте/виде или определенной категории соответственно в течение определенного периода времени.
          h6 Заказ
          p оформленный посредством использования Сайта запрос Покупателя на приобретение, при необходимости – и на доставку по указанному Покупателем адресу товаров, выбранных на Сайте.
        hr
        ol
          li
            p
              span 1. Общие положения
            ol
              li
                p
                  span 1.1
                  | Настоящий Договор является публичной офертой в соответствии с ст. 428 Гражданского кодекса Российской Федерации
              li
                p
                  span 1.2
                  | Продавец осуществляет продажу товаров дистанционным способом через Сайт.
              li
                p
                  span 1.3
                  | Оформив Заказ на Сайте, Покупатель считается ознакомленным с Договором и согласившимся с ним. Переходя по ссылке «Оформить заказ», Покупатель подтверждает, что принимает условия настоящего Договора, а также Политики конфиденциальности Сайта, являющейся неотъемлемой частью настоящего Договора и размещенной на Сайте по адресу: https://lejournalintime.com/politika-konfidencialjnosti
              li
                p
                  span 1.4
                  | Договор может быть изменен Продавцом в одностороннем порядке без уведомления Покупателя. Новая редакция Договора вступает в силу с момента ее опубликования на Сайте и при осуществлении очередного Заказа.
        hr
        ol
          li
            p
              span 2. Предмет Договора
            ol
              li
                p
                  span 2.1
                  | Продавец обязуется на основании Заказа передать Покупателю товар, размещенный на Сайте и заказанный Покупателем, оказать услуги, а Покупатель обязуется оплатить заказанный товар/услуги.
              li
                p
                  span 2.2
                  | Цена, наименование, описание и прочие характеристики указаны на странице Товара на сайте
              li
                p
                  span 2.3
                  | Количество товара и окончательные условия продажи товаров/услуг с учетом действующих Акций согласуются Сторонами в Заказах.
