extends ../templates/template.pug
block content
  .container.support.js-toggle
    +support-header({ title: 'Гарантия и условия возврата' })
    .support__main
      +support-nav([
        { title: "Оплата", href: "/support-payment.html" },
        { title: "Доставка", href: "/support-delivery.html" },
        { title: "Гарантия и возврат", href: "/support-warrant.html", active: true },
        { title: "Таблица размеров", href: "/support-size-chart.html" },
        { title: "Пользовательское соглашение", href: "/support-privacy-policy.html" },
        {title: "Оптовые заказы", href: "/support-personal.html"},
        {title: "Белье на заказ", href: "/support-personal.html"}
      ])
      .support__content.support__modify-area
        h6 Отказ от принятия и оплаты Товаров надлежащего качества
        p Под «Товаром надлежащего качества» понимается исправный, неповрежденный Товар, который полностью соответствует своему функциональному назначению.
        p В момент передачи Товаров Покупатель имеет право отказаться от приобретения Товаров надлежащего качества  или их части без объяснения причин. В этом случае, Покупатель обязан оплатить расходы Продавца, понесенные последним в связи с исполнением обязательства по доставке Товаров.
        hr
        h6 Возврат или обмен Товаров надлежащего качества
        p Покупатель, принявший Товар надлежащего качества, имеет право возвратить его Продавцу (заявить о намерении произвести возврат) в течение 7 календарных дней с момента получения Товара. При этом возврат возможен при соблюдении следующих условий:
        ul.support__list-default
          li
            p Товар не был в употреблении, сохранен товарный вид, упаковка и потребительские свойства Товара;
          li
            p Товар не содержится в «Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации» (утв. Постановлением правительства Российской Федерации от 19 января 1998 года № 55, в редакции Постановления Правительства РФ от 20 октября 1998 года №1222, от 06 февраля 2002 года № 81), как не подлежащий возврату.
        p Покупатель, принявший Товар надлежащего качества, имеет право обменять (заявить о намерении произвести обмен) на аналогичный (с аналогичными функциональными свойствами) в течение 14 календарных дней с момента получения Товара. При этом обмен возможен при соблюдении следующих условий:
        ul.support__list-default
          li
            p Товар не был в употреблении, сохранен товарный вид, упаковка и потребительские свойства Товара;
          li
            p Товар не содержится в «Перечне непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации» (утв. Постановлением правительства Российской Федерации от 19 января 1998 года № 55, в редакции Постановления Правительства РФ от 20 октября 1998 года №1222, от 06 февраля 2002 года № 81), как не подлежащий возврату.
        p Продавец производит возврат (или обмен) Товара в месте его доставки в разумные сроки после обращения Покупателя. Возврат (обмен) оформляется Заявлением Покупателя с обязательным приложением  кассового чека или товарной накладной, подтверждающих факт приобретения Товара у Продавца.
        hr
        .support__roll-up.js-toggle-height__container
          h6 Перечень непродовольственных товаров надлежащего качества, не подлежащих возврату или обмену на аналогичный товар других размера, формы, габарита, фасона, расцветки или комплектации
          p.support__roll-up-text.js-toggled-height Утвержден Постановлением правительства Российской  Утвержден Постановлением правительства Российской  Утвержден Постановлением правительства Российской Федерации от 19 января 1998 года № 55 в редакции Постановления Правительства РФ от 20 октября 1998 года №1222, от 06 февраля 2002 года № 81.
          button.support__roll-up-button.js-toggle-height__button(data-toggled-height = "42px")
        hr
        h6 Последствия при продаже Товара ненадлежащего качества
        p В случае приобретения Товара с недостатками или с существенными недостатками, касающимися качества, комплектности, упаковки или иного несоответствия Товара обязательным требованиям законодательства и/или договора купли-продажи, а также несоответствия заявленным целям по его использованию, Покупатель имеет право предъявить соответствующие претензии Продавцу в течение гарантийного срока, установленного на данный Товар, и потребовать по своему усмотрению:
        ul.support__list-default
          li
            p безвозмездного устранения недостатков;
          li
            p соразмерного уменьшения цены;
          li
            p замены Товара с недостатками на аналогичный Товар;
          li
            p расторжения договора купли-продажи Товара с возвратом уплаченных Продавцу сумм.
        p Продавец обязан урегулировать все претензии Покупателя по сделке в сроки, установленные Законом «О защите прав потребителей».
        hr
        h6 Возврат денежных средств Покупателю по расторгнутой сделке
        p Возврат денежных средств Покупателю по расторгнутой сделке осуществляется в течение 10 дней с момента оформления Заявления о возврате с приложением кассового чека, при условии фактического возврата к этому моменту непосредственно самого Товара Продавцу.
        p Возврат денежных средств может быть произведен в кассе Продавца. Для получения наличных денежных средств, Покупатель должен предъявить паспорт.
