mixin sertificate(data)
  .sertificate(data-sertificate="sertificate")&attributes(attributes)
    .sertificate__content
      .sertificate__title Подарочный сертификат
      .sertificate__number № 4320 4892 41
    button.sertificate__close.js-sertificate-close
      +svg("close")