mixin hero-banners()
    .hero-banners&attributes(attributes)
        .hero-banners__slider.swiper-container(data-swiper="hero-banners")
            .hero-banners__wrapper.swiper-wrapper
                a.hero-banners__slide.swiper-slide(href='/category.html')
                    .hero-banners__img
                        img(src="assets/img/native/banner-1.jpg" alt="" width="1920" height="800")
                    .hero-banners__content.container 
                        .hero-banners__title Ведущий производитель
                        .hero-banners__desc Послеоперационного компрессионного белья
                a.hero-banners__slide.swiper-slide(href='/category.html')
                    .hero-banners__img
                        img(src="assets/img/native/banner-1.jpg" alt="" width="1920" height="800")
                    .hero-banners__content.container 
                        .hero-banners__title Ведущий производитель
                        .hero-banners__desc Компрессионного белья
                a.hero-banners__slide.swiper-slide(href='/category.html')
                    .hero-banners__img
                        img(src="assets/img/native/banner-1.jpg" alt="" width="1920" height="800")
                    .hero-banners__content.container  
                        .hero-banners__title Ведущий производитель
                        .hero-banners__desc Послеоперационного компрессионного белья
            .hero-banners__pagination.container(data-pagination)
