+modal('map-modal', 'right').modal--bordered.media-min--tab 
    .contacts__map
        +map(data-map-platform="mobile")
        a(href="#").contacts__email
          +svg("mail")
        .contacts__map_content.js-contacts-modal-content