mixin news-section(data)
    .news-section
        +news-card({
            title: "Часто задаваемые попросы при выборе и ношении компрессионного белья: Часть 4",
            img: "assets/img/native/news-1.jpg",
            date: "22.10.2022",
            description: "У многих женщин, которые хотят увеличить грудь, еще на стадии консультирования с хирургом возникает много вопросов. Многие из них касаются компрессионного белья, и на самые важные из них мы постараемся дать исчерпывающие ответы."
        })
        .news-section__content
            +news-card({
                title: "Часто задаваемые попросы при выборе и ношении компрессионного белья: Часть 4",
                img: "assets/img/native/news-2.jpg",
                date: "22.10.2022",
                description: "Вот уже не первый год Октябрь – это всемирный месяц по борьбе с раком груди. Цель всех мероприятий, проводимых в рамках этой инициативы – информирование и повышение"
            })
            +news-card({
                title: "Часто задаваемые попросы при выборе и ношении компрессионного белья: Часть 4",
                img: "assets/img/native/news-3.jpg",
                date: "22.10.2022",
                description: "Вот уже не первый год Октябрь – это всемирный месяц по борьбе с раком груди. Цель всех мероприятий, проводимых в рамках этой инициативы – информирование и повышение"
            })
            +news-card({
                title: "Часто задаваемые попросы при выборе и ношении компрессионного белья: Часть 4",
                img: "assets/img/native/news-4.jpg",
                date: "22.10.2022",
                description: "Вот уже не первый год Октябрь – это всемирный месяц по борьбе с раком груди. Цель всех мероприятий, проводимых в рамках этой инициативы – информирование и повышение"
            })
            +news-card({
                title: "Часто задаваемые попросы при выборе и ношении компрессионного белья: Часть 4",
                img: "assets/img/native/news-5.jpg",
                date: "22.10.2022",
                description: "Вот уже не первый год Октябрь – это всемирный месяц по борьбе с раком груди. Цель всех мероприятий, проводимых в рамках этой инициативы – информирование и повышение"
            })
            +news-card({
                title: "Часто задаваемые попросы при выборе и ношении компрессионного белья: Часть 4",
                img: "assets/img/native/news-6.jpg",
                date: "22.10.2022",
                description: "Вот уже не первый год Октябрь – это всемирный месяц по борьбе с раком груди. Цель всех мероприятий, проводимых в рамках этой инициативы – информирование и повышение"
            })
            +news-card({
                title: "Часто задаваемые попросы при выборе и ношении компрессионного белья: Часть 4",
                img: "assets/img/native/news-7.jpg",
                date: "22.10.2022",
                description: "Вот уже не первый год Октябрь – это всемирный месяц по борьбе с раком груди. Цель всех мероприятий, проводимых в рамках этой инициативы – информирование и повышение"
            })
        .news-section__footer
            a(href="#").more Показать больше
            