mixin socials(data)
    ul.socials&attributes(attributes)
        each item in data
            li.socials__item(class=item.className)
                a(href=item.link)
                    +svg(item.name)
