include ../blocks/svg/svg.pug
include ../blocks/button/button.pug
include ../blocks/modal/modal.pug
include ../blocks/logo/logo.pug
include ../blocks/menu/menu.pug
include ../blocks/hero/hero.pug
include ../blocks/copyright/copyright.pug
include ../blocks/socials/socials.pug
include ../blocks/input/input.pug
include ../blocks/discount-section/discount-section.pug
include ../blocks/circles-section/circles-section.pug
include ../blocks/showroom-section/showroom-section.pug
include ../blocks/showrooms-item/showrooms-item.pug
include ../blocks/diary-section/diary-section.pug
include ../blocks/diary-card/diary-card.pug
include ../blocks/insta-banners/insta-banners.pug
include ../blocks/incomes-section/incomes-section.pug
include ../blocks/recently-section/recently-section.pug
include ../blocks/card/card.pug
include ../blocks/cards-line/cards-line.pug
include ../blocks/header/header.pug
include ../blocks/catalog-section/catalog-section.pug
include ../blocks/catalog-section/collections-section.pug
include ../blocks/select/select.pug
include ../blocks/colors/colors.pug
include ../blocks/sizes/sizes.pug
include ../blocks/tabs/tabs.pug
include ../blocks/fashion-finish/fashion-finish.pug
include ../blocks/card-recently/card-recently.pug
include ../blocks/card-category/card-category.pug
include ../blocks/card-colors/card-colors.pug
include ../blocks/burger/burger.pug
include ../blocks/color-circles/color-circles.pug
include ../blocks/tags/tags.pug
include ../blocks/showrooms/showrooms.pug
include ../blocks/profile-header/profile-header.pug
include ../blocks/profile-nav/profile-nav.pug
include ../blocks/goods-list/goods-list.pug
include ../blocks/profile-info/profile-info.pug
include ../blocks/checkbox-circle/checkbox-circle.pug
include ../blocks/custom-button/custom-button.pug
include ../blocks/order-preview-a/order-preview-a.pug
include ../blocks/support-header/support-header.pug
include ../blocks/support-nav/support-nav.pug
include ../blocks/search-form/search-form
include ../blocks/star-title/star-title
include ../blocks/card-billet/card-billet
include ../blocks/range/range
include ../blocks/filters-list/filters-list
include ../blocks/product-gallery/product-gallery
include ../blocks/profile-modal/profile-modal
include ../blocks/basket-item/basket-item
include ../blocks/payment-list/payment-list
include ../blocks/stories/stories
include ../blocks/profile-modal/profile-modal-desktop.pug
include ../blocks/mobile-menu-modal/mobile-menu-modal.pug
include ../blocks/map/map.pug
include ../blocks/back/back.pug
include ../blocks/footer/footer.pug
include ../blocks/sale-points/sale-points.pug
include ../blocks/point-info/point-info.pug
include ../blocks/ordering/ordering.pug
include ../blocks/delivery/delivery.pug
include ../blocks/way-of-payment/way-of-payment.pug
include ../blocks/sertificate/sertificate.pug
include ../blocks/sizes-modal/sizes-modal.pug
include ../blocks/unique-phone/unique-phone.pug
include ../blocks/pagination/pagination.pug
include ../blocks/page-preloader/page-preloader.pug
include ../blocks/plug/plug.pug
include ../blocks/footer-form/footer-form.pug
include ../blocks/collections-item/collections-item.pug
include ../blocks/collection-banner/collection-banner.pug
include ../blocks/collection-head/collection-head.pug
include ../blocks/label/label.pug
include ../blocks/breadcrumbs/breadcrumbs.pug
include ../blocks/subcategories/subcategories.pug
include ../blocks/hero-banners/hero-banners.pug
include ../blocks/native-h1/native-h1.pug
include ../blocks/news-section/news-section.pug
include ../blocks/news-card/news-card.pug
