include ../blocks/lang-modal/lang-modal.pug
include ../blocks/ordering-success/ordering-success.pug
include ../blocks/address-modal/address-modal.pug
include ../blocks/sertificate-modal/sertificate-modal.pug
include ../blocks/search-modal/search-modal.pug
