doctype html
html(lang='ru')
  include ../templates/mixins.pug
  include ../templates/head.pug

  body(style="visibility: hidden;")
    include ../templates/modals.pug
    include ../templates/blocks.pug
    .modals.js-modals
    +profile-modal-desktop({view: "login"})
    +mobile-menu-modal({view: "login"})
    //- Main content
    +header({ className: "is-horizontal is-inview", type: "default"})
    main#js-scroll.is-horizontal.no-padding(data-direction="horizontal")

      block content
