doctype html
html(lang='ru')
  include ../templates/mixins.pug
  include ../templates/head.pug

  body(style="visibility: hidden;")
    include ../templates/modals.pug
    include ../templates/blocks.pug
    .modals.js-modals
    +profile-modal-desktop({view: "registration"})
    +mobile-menu-modal({view: "registration"})
    //- Main content
    +header({ className: "is-product", type: "default"})
    main#js-scroll(data-direction="vertical")
      block content
      +footer
