mixin insta-banners
    section.insta-banners(data-scroll)
        a(href="#").insta-banners__item
            img(src="assets/img/insta-banners/insta-banner-1.jpg")
        a(href="#").insta-banners__item
            img(src="assets/img/insta-banners/insta-banner-2.jpg")
        a(href="#").insta-banners__item
            img(src="assets/img/insta-banners/insta-banner-3.jpg")
        a(href="#").insta-banners__item
            img(src="assets/img/insta-banners/insta-banner-4.jpg")
        a(href="#").insta-banners__item
            img(src="assets/img/insta-banners/insta-banner-5.jpg")
        a(href="#").insta-banners__item
            img(src="assets/img/insta-banners/insta-banner-6.jpg")